html {background: #FAF0DC;
  font-family: Apercu Condensed Pro,Sans-Serif;}

footer {background: #0B4141;
margin-bottom: 0;
margin-top: 20px;
font-weight: bold;
text-align: center;
box-shadow: 0 2px 0 rgba(0, 0, 0, 0.4);
color: #FAF0DC;
padding-top: 20px;
padding-bottom: 20px;
padding-left: 20px;
padding-right: 20px;
display: block;
  list-style-position: inside;
}


html,
.body {margin: 0;
  height: 100%;
text-align:center;
 display: block;}

  
h2, h3 {font-family: Apercu Condensed Pro,Sans-Serif;;
color: #FF6864;
text-shadow: 0px 0px 2px white;
font-weight: bold;}

h1 {font-size: 2em;
  text-transform: uppercase;
text-align:center;
color: #0B4141;
margin-top: 70px;}


h2 {font-size: 1.5em;}

.thin-blue-border {border-color: #FF6864;
  border-width: 4px;
    border-style: solid;
  border-radius: 50%;}

.btn {
    padding: 12px 12px;
  margin: 15px;
    background: #FF6864;
    font-family: 'Orbitron', sans-serif;
    color: black;
    font-weight: 800;
  border: 2px solid #0B4141;
  border-radius: 20px;
  display: flex;
  margin-left: auto;
  margin-right: auto;
    justify-content: space-between;
}
.nav {color: #0B4141;
border: 1px solid #0B4141;
border-radius: 20px;
padding: 6px 6px;
background: #FAF0DC;}


.genreal {
  padding: 12px 40px;
  background: #0B4141;
  margin: 30px;
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.4);
  color: white;
  display: block;
  list-style-position: inside;
}

#skills {padding: 12px 40px;
  text-align:center;
}

ul{display:inline}

#links {padding-top: 15px;
  padding-bottom: 15px;
  background: #FF6864  ;
  display: flex;
  justify-content: space-around;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.4);
  z-index: 10}

  h1 {padding-top: 50px;

  }

  #input {
    background: #FF6864;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
    margin-top: 15px;
    width: 500px;
    height: 150px;
    border:1px solid #0B4141;
    border-radius: 20px;
  }

#img {
  border: 2px solid #0B4141;
  border-radius: 20px;
}
#youtube {border: 2px solid #0B4141;
  border-radius: 20px;

}
  }
*/

/* don't edit this */
.jest-lite-report__status--pass {
  background: var(--color-pass);
}
.jest-lite-report__errors { display:none }
